@import "tailwindcss";

body{
  background:black;
  color:white;
  font-family:sans-serif;
}

html{
  scroll-behavior: smooth;
}

*{
  cursor: none;
}

@media(max-width:768px){

  *{
    cursor:auto;
  }

}